In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.image as imgg

In [2]:
file_path = "C:/Repositories/JUMP-Bijouterie-BDDSerializer/extrait.xslx"

import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
#print("Files in %r: %s" % (cwd, files))

In [3]:
df = pd.ExcelFile('BDDwoimage2.xlsx').parse('f1', index_col="Lot");
a = df.head()
lot = df.index.to_numpy()
df.columns

Index(['Date', 'Vendeur', 'Description', 'Achat', 'Vendu', 'Lieu',
       'Prix confié', 'Date Confié', 'Ebay Etsy Sonia', 'Prix Ebay Etsy',
       'Date Ebay Etsy', 'Oh My Brooch !', 'Facture', 'TYPE', 'Type2',
       'Période', 'OR SP', 'OR GRIS', 'OR JAUNE2', 'OR ROSE', 'OR 14 K',
       'PLATINE', 'ARGENT', 'ACIER', 'MARQUE', 'DIAMANT', 'EMERAUDE', 'SAPHIR',
       'RUBIS', 'AIGUE-MARINE', 'PERLE', 'AUTRE PIERRE'],
      dtype='object')

In [4]:
vd_array = df.Vendeur.to_numpy()
len_array = []
errs = []
for i in range(len(vd_array)):
    try:
        len_array.append(len(vd_array[i]))
    except Exception:
        errs.append(i)
len_array = np.array(len_array)
np.argmax(len_array)

721

In [5]:
vd_array = df.Description.to_numpy()
len_array = []
errs = []
for i in range(len(vd_array)):
    try:
        len_array.append(len(vd_array[i]))
    except Exception:
        errs.append(i)
len_array = np.array(len_array)
np.argmax(len_array)

1574

In [6]:
vd_array = df.Achat.to_numpy()
currency = []
rejet = []
print(vd_array)
for i in range(len(vd_array)):
    if(isinstance(vd_array[i], np.float64) or type(elt) == int or type(elt) == float):
        continue
    rejet.append(i)
print(len(rejet))

[34698.  2478. 16740. ...  4250.  1674.  3220.]
0

In [7]:
vd_array = df["Prix confié"].to_numpy()
currency = []
rejet = []
count = []
reste = []
#print(vd_array)
for i in range(len(vd_array)):
    
    if(vd_array[i] == "nan" or type(vd_array[i]) == int or type(vd_array[i]) == float):
        continue
    if("GBP" in vd_array[i]):
        count.append(i)
    else:
        reste.append(i)
    rejet.append(i)

lotGBP = []
for indice in count:
    lotGBP.append(lot[indice])
reste = [lot[r] for r in reste]
reste

[628, 978, 2138, 2397]

In [8]:
vd_array = df.Lieu.to_numpy()
len_array = []
errs = []
for i in range(len(vd_array)):
    try:
        len_array.append(len(vd_array[i]))
    except Exception:
        errs.append(i)
len_array = np.array(len_array)
np.max(len_array)

34

In [9]:
vd_array = df["Ebay Etsy Sonia"].to_numpy()
len_array = []
errs = []
for i in range(len(vd_array)):
    try:
        len_array.append(len(vd_array[i]))
    except Exception:
        errs.append(i)
len_array = np.array(len_array)
np.max(len_array)

15

In [10]:
vd_array = df["MARQUE"].to_numpy()
len_array = []
errs = []
for i in range(len(vd_array)):
    try:
        len_array.append(len(vd_array[i]))
    except Exception:
        errs.append(i)
len_array = np.array(len_array)
np.max(len_array)

16

---

## Formation du CSV

---

In [11]:
buy_date = df.Date.copy().astype("datetime64[ms]")
buy_date.name = "buy_date"
buy_date
pd.unique(buy_date)

array(['2008-06-09T00:00:00.000000000', '2008-12-16T00:00:00.000000000',
       '2009-04-01T00:00:00.000000000', '2009-04-06T00:00:00.000000000',
       '2009-04-09T00:00:00.000000000', '2009-11-17T00:00:00.000000000',
       '2009-11-27T00:00:00.000000000', '2009-11-30T00:00:00.000000000',
       '2009-12-07T00:00:00.000000000', '2010-04-12T00:00:00.000000000',
       '2010-11-21T00:00:00.000000000', '2010-11-29T00:00:00.000000000',
       '2011-03-23T00:00:00.000000000', '2011-03-24T00:00:00.000000000',
       '2011-03-29T00:00:00.000000000', '2011-03-30T00:00:00.000000000',
       '2011-04-06T00:00:00.000000000', '2011-04-07T00:00:00.000000000',
       '2011-04-28T00:00:00.000000000', '2011-04-29T00:00:00.000000000',
       '2011-05-19T00:00:00.000000000', '2011-05-20T00:00:00.000000000',
       '2011-06-17T00:00:00.000000000', '2011-06-23T00:00:00.000000000',
       '2011-10-06T00:00:00.000000000', '2011-10-19T00:00:00.000000000',
       '2011-11-03T00:00:00.000000000', '2011-11-04T00:00:00.000000000',
       '2011-11-22T00:00:00.000000000', '2011-11-23T00:00:00.000000000',
       '2011-12-02T00:00:00.000000000', '2011-12-05T00:00:00.000000000',
                                 'NaT', '2011-12-06T00:00:00.000000000',
       '2011-12-07T00:00:00.000000000', '2011-12-08T00:00:00.000000000',
       '2012-02-03T00:00:00.000000000', '2012-02-10T00:00:00.000000000',
       '2012-02-15T00:00:00.000000000', '2012-03-29T00:00:00.000000000',
       '2012-04-04T00:00:00.000000000', '2012-10-08T00:00:00.000000000',
       '2012-06-26T00:00:00.000000000', '2012-10-19T00:00:00.000000000',
       '2012-11-12T00:00:00.000000000', '2012-11-20T00:00:00.000000000',
       '2012-11-23T00:00:00.000000000', '2012-12-04T00:00:00.000000000',
       '2012-12-11T00:00:00.000000000', '2012-12-13T00:00:00.000000000',
       '2012-12-16T00:00:00.000000000', '2012-12-18T00:00:00.000000000',
       '2012-12-19T00:00:00.000000000', '2013-03-20T00:00:00.000000000',
       '2013-03-26T00:00:00.000000000', '2012-06-22T00:00:00.000000000',
       '2013-05-17T00:00:00.000000000', '2013-03-17T00:00:00.000000000',
       '2013-05-24T00:00:00.000000000', '2013-06-06T00:00:00.000000000',
       '2013-06-13T00:00:00.000000000', '2013-06-21T00:00:00.000000000',
       '2013-06-28T00:00:00.000000000', '2013-07-23T00:00:00.000000000',
       '2013-11-06T00:00:00.000000000', '2013-11-15T00:00:00.000000000',
       '2013-11-27T00:00:00.000000000', '2013-12-04T00:00:00.000000000',
       '2013-12-09T00:00:00.000000000', '2013-12-11T00:00:00.000000000',
       '2013-12-18T00:00:00.000000000', '2013-12-19T00:00:00.000000000',
       '2013-12-20T00:00:00.000000000', '2014-03-26T00:00:00.000000000',
       '2014-04-08T00:00:00.000000000', '2014-04-09T00:00:00.000000000',
       '2014-04-11T00:00:00.000000000', '2014-05-22T00:00:00.000000000',
       '2014-05-23T00:00:00.000000000', '2014-05-26T00:00:00.000000000',
       '2014-05-14T00:00:00.000000000', '2014-06-04T00:00:00.000000000',
       '2014-06-06T00:00:00.000000000', '2014-06-13T00:00:00.000000000',
       '2014-06-20T00:00:00.000000000', '2014-06-24T00:00:00.000000000',
       '2014-06-25T00:00:00.000000000', '2014-06-27T00:00:00.000000000',
       '2014-06-28T00:00:00.000000000', '2014-07-23T00:00:00.000000000',
       '2014-07-28T00:00:00.000000000', '2015-12-09T00:00:00.000000000',
       '2014-12-09T00:00:00.000000000', '2014-12-10T00:00:00.000000000',
       '2014-11-27T00:00:00.000000000', '2014-12-11T00:00:00.000000000',
       '2014-12-15T00:00:00.000000000', '2014-12-12T00:00:00.000000000',
       '2014-12-17T00:00:00.000000000', '2014-12-18T00:00:00.000000000',
       '2014-12-20T00:00:00.000000000', '2014-12-08T00:00:00.000000000',
       '2015-03-04T00:00:00.000000000', '2015-03-10T00:00:00.000000000',
       '2015-03-11T00:00:00.000000000', '2015-03-13T00:00:00.000000000',
       '2015-03-18T00:00:00.000000000', '2015-03-25T00:00:00.000000000',
       '2015-03-27T00:00:00.000000000', '2015-03-12T00:00:00.000000000',
       '2015-03-30T00:00:00.000000000', '2015-03-31T00:00:00.000000000',
       '2015-04-01T00:00:00.000000000', '2015-04-13T00:00:00.000000000',
       '2015-04-18T00:00:00.000000000', '2015-04-08T00:00:00.000000000',
       '2015-05-19T00:00:00.000000000', '2015-05-20T00:00:00.000000000',
       '2015-05-27T00:00:00.000000000', '2015-05-28T00:00:00.000000000',
       '2015-05-31T00:00:00.000000000', '2015-06-02T00:00:00.000000000',
       '2015-06-08T00:00:00.000000000', '2015-06-10T00:00:00.000000000',
       '2015-06-12T00:00:00.000000000', '2015-06-17T00:00:00.000000000',
       '2015-06-19T00:00:00.000000000', '2015-06-23T00:00:00.000000000',
       '2015-06-24T00:00:00.000000000', '2015-06-25T00:00:00.000000000',
       '2015-06-26T00:00:00.000000000', '2015-06-30T00:00:00.000000000',
       '2015-07-01T00:00:00.000000000', '2015-07-20T00:00:00.000000000',
       '2015-07-21T00:00:00.000000000', '2015-08-01T00:00:00.000000000',
       '2015-08-22T00:00:00.000000000', '2015-09-29T00:00:00.000000000',
       '2015-09-30T00:00:00.000000000', '2015-10-01T00:00:00.000000000',
       '2015-10-13T00:00:00.000000000', '2015-10-14T00:00:00.000000000',
       '2015-10-15T00:00:00.000000000', '2015-10-27T00:00:00.000000000',
       '2015-10-30T00:00:00.000000000', '2015-11-04T00:00:00.000000000',
       '2015-11-17T00:00:00.000000000', '2015-11-20T00:00:00.000000000',
       '2015-11-24T00:00:00.000000000', '2015-11-25T00:00:00.000000000',
       '2015-11-26T00:00:00.000000000', '2015-11-30T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2015-12-10T00:00:00.000000000',
       '2015-12-11T00:00:00.000000000', '2015-12-15T00:00:00.000000000',
       '2015-12-17T00:00:00.000000000', '2016-02-02T00:00:00.000000000',
       '2016-02-05T00:00:00.000000000', '2016-02-12T00:00:00.000000000',
       '2016-02-09T00:00:00.000000000', '2016-02-17T00:00:00.000000000',
       '2016-02-18T00:00:00.000000000', '2016-03-08T00:00:00.000000000',
       '2016-03-14T00:00:00.000000000', '2016-03-21T00:00:00.000000000',
       '2016-03-25T00:00:00.000000000', '2016-04-06T00:00:00.000000000',
       '2016-04-13T00:00:00.000000000', '2016-05-11T00:00:00.000000000',
       '2016-03-16T00:00:00.000000000', '2016-05-12T00:00:00.000000000',
       '2016-05-27T00:00:00.000000000', '2016-06-21T00:00:00.000000000',
       '2016-06-28T00:00:00.000000000', '2016-06-29T00:00:00.000000000',
       '2016-07-06T00:00:00.000000000', '2016-07-17T00:00:00.000000000',
       '2016-09-30T00:00:00.000000000', '2016-10-03T00:00:00.000000000',
       '2016-10-05T00:00:00.000000000', '2016-10-06T00:00:00.000000000',
       '2016-10-12T00:00:00.000000000', '2016-10-16T00:00:00.000000000',
       '2016-10-19T00:00:00.000000000', '2016-10-21T00:00:00.000000000',
       '2016-10-24T00:00:00.000000000', '2016-10-25T00:00:00.000000000',
       '2016-11-03T00:00:00.000000000', '2016-11-08T00:00:00.000000000',
       '2016-11-10T00:00:00.000000000', '2016-11-17T00:00:00.000000000',
       '2016-11-19T00:00:00.000000000', '2016-11-20T00:00:00.000000000',
       '2016-11-24T00:00:00.000000000', '2016-11-25T00:00:00.000000000',
       '2016-11-27T00:00:00.000000000', '2016-11-22T00:00:00.000000000',
       '2016-11-29T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2016-12-02T00:00:00.000000000', '2016-12-04T00:00:00.000000000',
       '2016-12-06T00:00:00.000000000', '2016-12-07T00:00:00.000000000',
       '2016-12-08T00:00:00.000000000', '2016-12-05T00:00:00.000000000',
       '2016-12-09T00:00:00.000000000', '2016-12-11T00:00:00.000000000',
       '2016-12-13T00:00:00.000000000', '2016-12-12T00:00:00.000000000',
       '2016-12-15T00:00:00.000000000', '2016-12-20T00:00:00.000000000',
       '2017-01-29T00:00:00.000000000', '2017-02-22T00:00:00.000000000',
       '2017-03-09T00:00:00.000000000', '2017-03-14T00:00:00.000000000',
       '2017-03-15T00:00:00.000000000', '2017-03-17T00:00:00.000000000',
       '2017-03-19T00:00:00.000000000', '2017-03-22T00:00:00.000000000',
       '2017-03-23T00:00:00.000000000', '2017-03-24T00:00:00.000000000',
       '2017-03-27T00:00:00.000000000', '2017-03-28T00:00:00.000000000',
       '2017-03-31T00:00:00.000000000', '2017-04-03T00:00:00.000000000',
       '2017-04-05T00:00:00.000000000', '2017-04-11T00:00:00.000000000',
       '2017-05-05T00:00:00.000000000', '2017-05-06T00:00:00.000000000',
       '2017-05-11T00:00:00.000000000', '2017-05-16T00:00:00.000000000',
       '2017-05-19T00:00:00.000000000', '2017-05-24T00:00:00.000000000',
       '2017-05-30T00:00:00.000000000', '2017-05-31T00:00:00.000000000',
       '2017-06-02T00:00:00.000000000', '2017-06-11T00:00:00.000000000',
       '2017-06-10T00:00:00.000000000', '2017-06-13T00:00:00.000000000',
       '2017-06-14T00:00:00.000000000', '2017-06-19T00:00:00.000000000',
       '2017-06-20T00:00:00.000000000', '2017-06-21T00:00:00.000000000',
       '2017-06-23T00:00:00.000000000', '2017-06-24T00:00:00.000000000',
       '2017-06-28T00:00:00.000000000', '2017-07-05T00:00:00.000000000',
       '2017-07-11T00:00:00.000000000', '2017-07-18T00:00:00.000000000',
       '2017-08-24T00:00:00.000000000', '2017-08-27T00:00:00.000000000',
       '2017-09-20T00:00:00.000000000', '2017-09-29T00:00:00.000000000',
       '2017-10-05T00:00:00.000000000', '2017-10-06T00:00:00.000000000',
       '2017-10-11T00:00:00.000000000', '2017-10-13T00:00:00.000000000',
       '2017-10-14T00:00:00.000000000', '2017-10-16T00:00:00.000000000',
       '2017-10-18T00:00:00.000000000', '2017-10-17T00:00:00.000000000',
       '2017-10-19T00:00:00.000000000', '2017-10-21T00:00:00.000000000',
       '2017-10-24T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
       '2017-11-08T00:00:00.000000000', '2017-11-12T00:00:00.000000000',
       '2017-11-14T00:00:00.000000000', '2017-11-15T00:00:00.000000000',
       '2017-11-17T00:00:00.000000000', '2017-11-21T00:00:00.000000000',
       '2017-11-22T00:00:00.000000000', '2017-11-24T00:00:00.000000000',
       '2017-11-29T00:00:00.000000000', '2017-12-01T00:00:00.000000000',
       '2017-12-02T00:00:00.000000000', '2017-12-03T00:00:00.000000000',
       '2017-12-05T00:00:00.000000000', '2017-12-06T00:00:00.000000000',
       '2017-12-09T00:00:00.000000000', '2017-12-11T00:00:00.000000000',
       '2017-12-13T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2017-12-19T00:00:00.000000000', '2017-11-25T00:00:00.000000000',
       '2017-12-22T00:00:00.000000000', '2017-12-31T00:00:00.000000000',
       '2018-02-07T00:00:00.000000000', '2018-02-08T00:00:00.000000000',
       '2018-02-11T00:00:00.000000000', '2018-02-25T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-03-14T00:00:00.000000000', '2018-03-15T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-22T00:00:00.000000000',
       '2018-03-26T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2018-03-28T00:00:00.000000000', '2018-03-30T00:00:00.000000000',
       '2018-04-05T00:00:00.000000000', '2018-04-06T00:00:00.000000000',
       '2018-04-08T00:00:00.000000000', '2018-04-10T00:00:00.000000000',
       '2018-04-11T00:00:00.000000000', '2018-04-15T00:00:00.000000000',
       '2018-04-18T00:00:00.000000000', '2018-04-19T00:00:00.000000000',
       '2018-04-20T00:00:00.000000000', '2018-04-23T00:00:00.000000000',
       '2018-04-24T00:00:00.000000000', '2018-04-25T00:00:00.000000000',
       '2018-04-26T00:00:00.000000000', '2018-04-28T00:00:00.000000000',
       '2018-05-03T00:00:00.000000000', '2018-05-05T00:00:00.000000000',
       '2018-05-04T00:00:00.000000000', '2018-05-06T00:00:00.000000000',
       '2018-05-15T00:00:00.000000000', '2018-05-16T00:00:00.000000000',
       '2018-05-17T00:00:00.000000000', '2018-05-18T00:00:00.000000000',
       '2018-05-23T00:00:00.000000000', '2018-05-24T00:00:00.000000000',
       '2018-05-25T00:00:00.000000000', '2018-05-26T00:00:00.000000000',
       '2018-05-28T00:00:00.000000000', '2018-06-06T00:00:00.000000000',
       '2018-06-13T00:00:00.000000000', '2018-06-21T00:00:00.000000000',
       '2018-06-22T00:00:00.000000000', '2018-06-25T00:00:00.000000000',
       '2018-06-26T00:00:00.000000000', '2018-06-27T00:00:00.000000000',
       '2018-06-28T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-07-04T00:00:00.000000000', '2018-07-08T00:00:00.000000000',
       '2018-07-12T00:00:00.000000000', '2018-07-18T00:00:00.000000000',
       '2018-07-31T00:00:00.000000000', '2018-08-04T00:00:00.000000000',
       '2018-08-05T00:00:00.000000000', '2018-08-07T00:00:00.000000000',
       '2018-08-12T00:00:00.000000000', '2018-08-16T00:00:00.000000000',
       '2018-09-12T00:00:00.000000000', '2018-09-13T00:00:00.000000000',
       '2018-09-20T00:00:00.000000000', '2018-09-26T00:00:00.000000000',
       '2018-09-29T00:00:00.000000000', '2018-10-04T00:00:00.000000000',
       '2018-10-05T00:00:00.000000000', '2018-10-06T00:00:00.000000000',
       '2018-10-08T00:00:00.000000000', '2018-10-09T00:00:00.000000000',
       '2018-10-11T00:00:00.000000000', '2018-10-15T00:00:00.000000000',
       '2018-10-16T00:00:00.000000000', '2018-10-17T00:00:00.000000000',
       '2018-10-20T00:00:00.000000000', '2018-10-21T00:00:00.000000000',
       '2018-10-23T00:00:00.000000000', '2018-10-24T00:00:00.000000000',
       '2018-10-25T00:00:00.000000000', '2018-11-07T00:00:00.000000000',
       '2018-11-09T00:00:00.000000000', '2018-11-13T00:00:00.000000000',
       '2018-11-14T00:00:00.000000000', '2018-11-16T00:00:00.000000000',
       '2018-11-20T00:00:00.000000000', '2018-11-22T00:00:00.000000000',
       '2018-11-24T00:00:00.000000000', '2018-11-25T00:00:00.000000000',
       '2018-11-26T00:00:00.000000000', '2018-11-27T00:00:00.000000000',
       '2018-11-28T00:00:00.000000000', '2018-11-29T00:00:00.000000000',
       '2018-11-30T00:00:00.000000000', '2018-12-03T00:00:00.000000000',
       '2018-12-05T00:00:00.000000000', '2018-12-07T00:00:00.000000000',
       '2018-12-11T00:00:00.000000000', '2018-12-12T00:00:00.000000000',
       '2018-12-14T00:00:00.000000000', '2018-12-16T00:00:00.000000000',
       '2018-12-17T00:00:00.000000000', '2018-12-18T00:00:00.000000000',
       '2018-12-19T00:00:00.000000000', '2018-12-20T00:00:00.000000000',
       '2018-12-21T00:00:00.000000000', '2019-12-30T00:00:00.000000000',
       '2019-01-24T00:00:00.000000000', '2019-01-29T00:00:00.000000000',
       '2019-01-30T00:00:00.000000000', '2019-02-05T00:00:00.000000000',
       '2019-02-11T00:00:00.000000000', '2019-02-13T00:00:00.000000000',
       '2019-02-19T00:00:00.000000000', '2019-02-20T00:00:00.000000000',
       '2019-02-24T00:00:00.000000000', '2019-03-01T00:00:00.000000000',
       '2019-03-03T00:00:00.000000000', '2019-03-05T00:00:00.000000000',
       '2019-03-06T00:00:00.000000000', '2019-03-10T00:00:00.000000000',
       '2019-03-12T00:00:00.000000000', '2019-03-13T00:00:00.000000000',
       '2019-03-20T00:00:00.000000000', '2019-03-19T00:00:00.000000000',
       '2019-03-25T00:00:00.000000000', '2019-03-27T00:00:00.000000000',
       '2019-03-28T00:00:00.000000000', '2019-03-30T00:00:00.000000000',
       '2019-04-01T00:00:00.000000000', '2019-03-31T00:00:00.000000000',
       '2019-04-04T00:00:00.000000000', '2019-04-05T00:00:00.000000000',
       '2019-07-09T00:00:00.000000000', '2019-04-12T00:00:00.000000000',
       '2019-04-17T00:00:00.000000000', '2019-04-18T00:00:00.000000000',
       '2019-04-19T00:00:00.000000000', '2019-04-27T00:00:00.000000000',
       '2019-05-05T00:00:00.000000000', '2019-05-11T00:00:00.000000000',
       '2019-05-12T00:00:00.000000000', '2019-05-13T00:00:00.000000000',
       '2019-05-15T00:00:00.000000000', '2019-05-17T00:00:00.000000000',
       '2019-05-21T00:00:00.000000000', '2019-05-22T00:00:00.000000000',
       '2019-05-25T00:00:00.000000000', '2019-05-26T00:00:00.000000000',
       '2019-06-04T00:00:00.000000000', '2019-06-06T00:00:00.000000000',
       '2019-06-09T00:00:00.000000000', '2019-06-15T00:00:00.000000000',
       '2019-06-16T00:00:00.000000000', '2019-06-17T00:00:00.000000000',
       '2019-06-18T00:00:00.000000000', '2019-06-19T00:00:00.000000000',
       '2019-06-20T00:00:00.000000000', '2019-06-22T00:00:00.000000000',
       '2019-06-23T00:00:00.000000000', '2019-06-24T00:00:00.000000000',
       '2019-06-25T00:00:00.000000000', '2019-06-29T00:00:00.000000000',
       '2019-06-27T00:00:00.000000000', '2019-07-02T00:00:00.000000000',
       '2019-07-11T00:00:00.000000000', '2019-07-12T00:00:00.000000000',
       '2019-07-17T00:00:00.000000000', '2019-07-18T00:00:00.000000000',
       '2019-07-20T00:00:00.000000000', '2019-07-22T00:00:00.000000000',
       '2019-07-27T00:00:00.000000000', '2019-08-07T00:00:00.000000000',
       '2019-08-11T00:00:00.000000000', '2019-08-16T00:00:00.000000000',
       '2019-09-04T00:00:00.000000000', '2019-09-16T00:00:00.000000000',
       '2019-09-19T00:00:00.000000000', '2019-09-20T00:00:00.000000000',
       '2019-09-24T00:00:00.000000000', '2019-09-26T00:00:00.000000000',
       '2019-09-29T00:00:00.000000000', '2019-09-30T00:00:00.000000000',
       '2019-10-01T00:00:00.000000000', '2019-10-02T00:00:00.000000000',
       '2019-10-05T00:00:00.000000000', '2019-10-06T00:00:00.000000000',
       '2019-10-08T00:00:00.000000000', '2019-10-07T00:00:00.000000000',
       '2019-10-13T00:00:00.000000000', '2019-10-17T00:00:00.000000000',
       '2019-10-18T00:00:00.000000000', '2019-10-19T00:00:00.000000000',
       '2019-10-20T00:00:00.000000000', '2019-10-23T00:00:00.000000000',
       '2019-10-27T00:00:00.000000000', '2019-10-30T00:00:00.000000000',
       '2019-10-29T00:00:00.000000000', '2019-11-06T00:00:00.000000000',
       '2019-11-09T00:00:00.000000000', '2019-11-10T00:00:00.000000000',
       '2019-11-12T00:00:00.000000000', '2019-11-15T00:00:00.000000000',
       '2019-11-14T00:00:00.000000000', '2019-11-18T00:00:00.000000000',
       '2019-11-21T00:00:00.000000000', '2019-11-25T00:00:00.000000000',
       '2019-11-26T00:00:00.000000000', '2019-11-28T00:00:00.000000000',
       '2019-11-23T00:00:00.000000000', '2019-11-29T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000', '2019-12-02T00:00:00.000000000',
       '2019-12-03T00:00:00.000000000', '2019-12-05T00:00:00.000000000',
       '2019-12-07T00:00:00.000000000', '2019-12-10T00:00:00.000000000',
       '2019-12-13T00:00:00.000000000', '2019-12-17T00:00:00.000000000',
       '2019-12-18T00:00:00.000000000', '2019-12-20T00:00:00.000000000',
       '2019-12-31T00:00:00.000000000', '2020-01-09T00:00:00.000000000',
       '2020-01-21T00:00:00.000000000', '2020-01-22T00:00:00.000000000',
       '2020-01-18T00:00:00.000000000', '2020-01-24T00:00:00.000000000',
       '2020-01-28T00:00:00.000000000', '2020-02-08T00:00:00.000000000',
       '2020-02-09T00:00:00.000000000', '2020-02-11T00:00:00.000000000',
       '2020-02-12T00:00:00.000000000', '2020-02-13T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-26T00:00:00.000000000',
       '2020-02-28T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-03-05T00:00:00.000000000', '2020-03-10T00:00:00.000000000',
       '2020-03-13T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-04-07T00:00:00.000000000', '2020-04-11T00:00:00.000000000',
       '2020-04-16T00:00:00.000000000', '2020-04-18T00:00:00.000000000',
       '2020-04-26T00:00:00.000000000', '2020-05-13T00:00:00.000000000',
       '2020-05-14T00:00:00.000000000', '2020-05-15T00:00:00.000000000',
       '2020-05-19T00:00:00.000000000', '2020-05-22T00:00:00.000000000',
       '2020-05-26T00:00:00.000000000', '2020-05-27T00:00:00.000000000',
       '2020-05-30T00:00:00.000000000', '2020-06-02T00:00:00.000000000',
       '2020-06-04T00:00:00.000000000', '2020-06-08T00:00:00.000000000',

In [12]:
seller = df.Vendeur.copy()
for i in range(len(seller)):
    sel = seller.iloc[i]
    #print(df.index[i])
    #print(sel)
    current = sel.replace("\n", " ")
    while(current != "" and current[-1] == " "):
        current=current[:-1]
    if(current == ""):
        print(df.index[i])
    seller.iloc[i] = current
seller.name = "seller"
seller

Lot
1       CORNETTE DE SAINT CYR
2                       PIASA
3         RIEUNIER & ASSOCIES
4                      MILLON
5                     ROSSINI
                ...
2735                    AUDAP
2736                    AUDAP
2737                    AUDAP
2738                    AUDAP
2739                    AUDAP
Name: seller, Length: 2800, dtype: object

In [13]:
description = df.Description.copy()
description.name = "description"
description

Lot
1       Bracelet Van Cleef & Arpels articulé en or jau...
2       Paire de clips de revers Chaumet en or (18k) e...
3       Paire de dormeuses en or jaune et or gris (18k...
4       Bracelet souple Cartier en or jaune (18k) et a...
5       Pendentif en or gris (18k) serti de 3 diamants...
                              ...
2735    Bague en or jaune (18k) bombée simulant deux a...
2736    Bague Fleur en or jaune (18k) et platine serti...
2737    Bague en or jaune (18k) ornée en son centre d'...
2738    Bague en or gris (18k) centrée d'un rubis oval...
2739    Bague en or jaune (18k) centrée d'une émeraude...
Name: description, Length: 2800, dtype: object

In [14]:
buy_price = df.Achat.copy().astype(str)
for i in range(len(buy_price)):
    try:
        buy_price.iloc[i] = int(100*float(buy_price.iloc[i]))
    except Exception as e:
        #print(e)
        #print(df.index[i])
        #print(buy_price.iloc[i])
        #print("----")
        buy_price.iloc[i] = -1
#print(buy_price.loc['71b'])
buy_price.astype(int)
#print(type(buy_price.iloc[0]))
buy_price.name = "buy_price"
buy_price.head(10)

Lot
1     3469800
2      247800
3     1674000
4      234000
5      315973
6       96700
7      421300
8      267400
9      838600
10     114757
Name: buy_price, dtype: object

In [15]:
s = df.Vendu.copy()
print(s.unique())

nan = s.iloc[0]

for i in range(len(s)):
    if(s.iloc[i] == "x" or s.iloc[i] == "X"):
        s.iloc[i] = True
    elif(str(s.iloc[i]) == "nan"):
        s.iloc[i] = False
    else:
        raise BaseException(str(i) + " " +  str(s.iloc[i]))
s.astype(bool)
print(type(s.iloc[0]))
sold = s
sold.name = "sold"
sold.head(10)

[nan 'X' 'x']
<class 'bool'>

Lot
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8      True
9     False
10    False
Name: sold, dtype: object

In [16]:
place = df.Lieu.copy()
for i in range(len(place)):
    elt = place.iloc[i]
    if(str(elt) == "nan"):
        place.iloc[i] = ""
place.name = "place"
place

Lot
1       COFFRE
2       COFFRE
3       COFFRE
4       COFFRE
5       COFFRE
         ...
2735
2736
2737
2738
2739
Name: place, Length: 2800, dtype: object

In [17]:
consigned_price = df["Prix confié"].copy().astype(str)
for i in range(len(consigned_price)):
    try:
        consigned_price.iloc[i] = int(100*float(consigned_price.iloc[i]))
    except Exception as e:
        #print(e)
        #print(df.index[i])
        #print(consigned_price.iloc[i])
        #print("----")
        consigned_price.iloc[i] = -1
print(consigned_price.loc['71b'])
consigned_price.astype(int)
print(type(consigned_price.iloc[0]))
consigned_price.name = "consigned_price"
consigned_price.head(10)

-1
<class 'int'>

Lot
1         -1
2         -1
3         -1
4         -1
5         -1
6     110000
7     500000
8     280000
9         -1
10        -1
Name: consigned_price, dtype: object

In [18]:
consigned_date = df["Date Confié"].copy().astype(str)
for i in range(len(consigned_date)):
    elt = consigned_date.iloc[i]
    if(str(elt) != "nan"):
        elt += "-01"
        consigned_date.iloc[i] = elt
    else:
        consigned_date.iloc[i] = "NaT"
consigned_date.astype("datetime64[ns]")
consigned_date.name = "consigned_date"
consigned_date.head(20)

Lot
1            NaT
2            NaT
3            NaT
4            NaT
5            NaT
6            NaT
7     2021-04-01
8            NaT
9            NaT
10           NaT
11           NaT
12           NaT
13           NaT
14           NaT
15           NaT
16           NaT
17           NaT
18           NaT
19           NaT
20           NaT
Name: consigned_date, dtype: object

In [19]:
# EESONIA
eesonia = df["Ebay Etsy Sonia"].copy().astype(str)
for i in range(len(eesonia)):
    if(eesonia.iloc[i] == "nan"):
        eesonia.iloc[i] = ""
    else:
        eesonia.iloc[i] = eesonia.iloc[i].replace('\n', ' ')
eesonia.head(50)

Lot
1
2
3
4
5
6
7
8
9
10
11        SONIA
12    EBAY ETSY
13
14
15
16
17
18        SONIA
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Name: Ebay Etsy Sonia, dtype: object

In [20]:
eeprice = df["Prix Ebay Etsy"].copy().astype(str)
for i in range(len(eeprice)):
    try:
        eeprice.iloc[i] = int(100*float(eeprice.iloc[i]))
    except Exception as e:
        #print(e)
        #print(df.index[i])
        #print(eeprice.iloc[i])
        #print("----")
        eeprice.iloc[i] = -1
print(eeprice.loc['71b'])
eeprice.astype("int")
print(type(eeprice.iloc[0]))
eeprice.name = "eeprice"
eeprice.head(10)

-1
<class 'int'>

Lot
1     -1
2     -1
3     -1
4     -1
5     -1
6     -1
7     -1
8     -1
9     -1
10    -1
Name: eeprice, dtype: object

In [21]:
eedate = df["Date Confié"].copy().astype(str)
for i in range(len(eedate)):
    elt = eedate.iloc[i]
    if(str(elt) != "nan"):
        elt += "-01"
        eedate.iloc[i] = elt
    else:
        eedate.iloc[i] = "NaT"
eedate.astype("datetime64[ns]")
eedate.name = "eedate"
eedate.head(20)

Lot
1            NaT
2            NaT
3            NaT
4            NaT
5            NaT
6            NaT
7     2021-04-01
8            NaT
9            NaT
10           NaT
11           NaT
12           NaT
13           NaT
14           NaT
15           NaT
16           NaT
17           NaT
18           NaT
19           NaT
20           NaT
Name: eedate, dtype: object

In [22]:
ombprice = df["Oh My Brooch !"].copy().astype(str)
for i in range(len(ombprice)):
    try:
        ombprice.iloc[i] = int(100*float(ombprice.iloc[i]))
    except Exception as e:
        #print(e)
        #print(df.index[i])
        #print(ombprice.iloc[i])
        #print("----")
        ombprice.iloc[i] = -1
ombprice.astype(int)
print(type(ombprice.iloc[0]))
ombprice.name = "ombprice"
ombprice.head(10)

<class 'int'>

Lot
1     -1
2     -1
3     -1
4     -1
5     -1
6     -1
7     -1
8     -1
9     -1
10    -1
Name: ombprice, dtype: object

In [23]:
bill = df.Facture.copy().astype(str)
for i in range(len(bill)):
    if(bill.iloc[i] == "nan"):
        bill.iloc[i] = ""
bill.name = "bill"
bill.head(20)

Lot
1
2
3
4
5
6       2015-01-G
7     2021-07-115
8      2018-04-88
9
10
11
12
13
14      2011-12-A
15    2021-11-006
16
17      2015-01-A
18
19
20      2016-06-A
Name: bill, dtype: object

In [24]:
Type = df.TYPE.copy().astype(str)
for i in range(len(Type)):
    if(Type.iloc[i] == "nan"):
        Type.iloc[i] = ""
Type.name = "type"
Type.head(20)

Lot
1      Bracelet
2        Broche
3            BO
4      Bracelet
5     Pendentif
6      Bracelet
7         Bague
8        Montre
9      Bracelet
10       Broche
11        Bague
12       Broche
13     Bracelet
14        Bague
15           BO
16       Broche
17        Bague
18       Broche
19       Broche
20    Pendentif
Name: type, dtype: object

In [25]:
Type2 = df.Type2.copy().astype(str)
for i in range(len(Type2)):
    if(Type2.iloc[i] == "nan"):
        Type2.iloc[i] = ""
Type2.name = "type2"
Type2.head(20)

Lot
1
2     Clips Revers
3        Dormeuses
4          Tubogaz
5
6
7             Dôme
8
9
10
11            Dôme
12
13         Rivière
14
15
16
17
18
19
20          Rosace
Name: type2, dtype: object

In [26]:
period = df.Période.copy().astype(str)
for i in range(len(period)):
    if(period.iloc[i] == "nan"):
        period.iloc[i] = ""
period.name = "period"
period.head(20)

Lot
1
2       Années 30
3
4
5
6       Années 60
7       Années 30
8
9
10
11      Années 70
12    Début 20ème
13      Années 30
14
15
16      Années 70
17
18      Années 60
19      Années 20
20
Name: period, dtype: object

In [27]:
orsp = df["OR SP"]
L = [""]*len(orsp)
for i in range(len(orsp)):
    if(orsp.iloc[i] == "X"):
        L[i] += ("Or Spécial-")
orgris = df["OR GRIS"]
for i in range(len(orgris)):
    if(orgris.iloc[i] == "X"):
        L[i] += ("Or Spécial-")
oj2 = df["OR JAUNE2"]
orr = df["OR ROSE"]
o14 = df["OR 14 K"]
pl = df["PLATINE"]
ag = df["ARGENT"]
sns = df["ACIER"]

for i in range(len(oj2)):
    if(oj2.iloc[i] == "X"):
        L[i] += ("Or Jaune 2-")
for i in range(len(orr)):
    if(orr.iloc[i] == "X"):
        L[i] += ("Or Rose-")
for i in range(len(o14)):
    if(o14.iloc[i] == "X"):
        L[i] += ("Or 14K-")
for i in range(len(pl)):
    if(pl.iloc[i] == "X"):
        L[i] += ("Platine-")
for i in range(len(ag)):
    if(ag.iloc[i] == "X"):
        L[i] += ("Argent-")
for i in range(len(sns)):
    if(sns.iloc[i] == "X"):
        L[i] += ("Acier-")
        
for i in range(len(L)):
    elt = L[i]
    if(elt == "" or elt[-1] == "-"):
        L[i] = elt[:-1]
metal = df.Période.copy()
for i in range (len(L)):
    metal.iloc[i] = L[i]
metal.name = "metal"
metal.head(10)

Lot
1                    Or Jaune 2
2            Or Spécial-Platine
3         Or Spécial-Or Jaune 2
4              Or Jaune 2-Acier
5                    Or Spécial
6                    Or Spécial
7                       Platine
8     Or Spécial-Platine-Argent
9            Or Jaune 2-Platine
10           Or Jaune 2-Platine
Name: metal, dtype: object

In [28]:
brand = df.MARQUE.copy().astype(str)
for i in range(len(brand)):
    if(brand.iloc[i] == "nan"):
        brand.iloc[i] = ""
brand.name = "brand"
brand.head(20)

Lot
1            VCA
2        Chaumet
3
4        Cartier
5
6
7
8        Glycine
9            VCA
10
11
12
13
14
15
16
17
18    Mauboussin
19
20
Name: brand, dtype: object

In [29]:
diam = df["DIAMANT"]
L = [""]*len(diam)
for i in range(len(diam)):
    if(diam.iloc[i] == "X"):
        L[i] += ("Diamant-")
eme = df["EMERAUDE"]
for i in range(len(eme)):
    if(eme.iloc[i] == "X"):
        L[i] += ("Emeraude-")
saph = df["SAPHIR"]
for i in range(len(saph)):
    if(saph.iloc[i] == "X"):
        L[i] += ("Saphir-")
rub = df["RUBIS"]
for i in range(len(rub)):
    if(rub.iloc[i] == "X"):
        L[i] += ("Rubis-")
am = df["AIGUE-MARINE"]
for i in range(len(am)):
    if(am.iloc[i] == "X"):
        L[i] += ("Aigue Marine-")
pe = df["PERLE"]
for i in range(len(pe)):
    if(pe.iloc[i] == "X"):
        L[i] += ("Perle-")
ap = df["AUTRE PIERRE"].copy()
for i in range (len(ap)):
    if(isinstance(ap.iloc[i], str)):
        ap.iloc[i] = ap.iloc[i].replace("\n", "-")
        L[i] += ap.iloc[i]
ap.unique()
        
for i in range(len(L)):
    elt = L[i]
    if(elt == "" or elt[-1] == "-"):
        L[i] = elt[:-1]
stone = df.Période.copy()
for i in range (len(L)):
    stone.iloc[i] = L[i]
stone.name = "stone"
stone.head(10)

Lot
1        Diamant-Emeraude
2                 Diamant
3                 Diamant
4
5                 Diamant
6     Diamant-Rubis-Perle
7           Diamant-Rubis
8           Diamant-Tissu
9                 Diamant
10                Diamant
Name: stone, dtype: object

In [30]:
weight = df.MARQUE.copy().astype(str)
for i in range(len(weight)):
    #print(i)
    desc = description.iloc[i].split(" ")
    #print(desc)
    weight.iloc[i] = "-1"
    for j in range(len(desc)):
        if(desc[j] == 'g' or desc[j] == 'g.'):
            try:
                weight.iloc[i] = float(desc[j-1].replace(',', '.'))
            except Exception:
                print(description.iloc[i])
                print(desc[j-1].replace(',', '.'))
                print(i)
            break
            #print(desc[j-1])
    
weight.name = "weight"
weight.astype(float)

Lot
1       32.0
2       25.0
3        6.4
4       51.0
5        8.9
        ...
2735     9.8
2736     7.4
2737     7.8
2738     9.5
2739     5.7
Name: weight, Length: 2800, dtype: float64

In [31]:
media = df.MARQUE.copy().astype(str)
lot = df.index
for i in range(len(media)):
    media.iloc[i] = ""
    nom = f"{lot[i]}"
    exist = False
    try:
        with open(f"./images/{nom}.jpg"): 
            nom += ".jpg"
            exist = True
    except IOError: pass
    
    try:
        with open(f"./images/{nom}.png"): 
            nom += ".png"
            exist = True
    except IOError: pass

    if(exist):
        media.iloc[i] = nom
        
media

Lot
1          1.jpg
2          2.jpg
3          3.jpg
4          4.jpg
5          5.jpg
          ...
2735    2735.jpg
2736    2736.jpg
2737    2737.jpg
2738    2738.jpg
2739    2739.jpg
Name: MARQUE, Length: 2800, dtype: object

In [41]:
data = pd.DataFrame({'buy_date': buy_date,'seller':seller, 'description': description, 'buy_price': buy_price, 'sold': sold, 'place': place, 'consigned_price': consigned_price, 'consigned_date':consigned_date, 'eesonia': eesonia, 'eeprice': eeprice, 'eedate': eedate, 'ombprice': ombprice, 'bill':bill, 'type': Type, 'type2': Type2, 'period': period, 'metal': metal, 'brand': brand, 'stone': stone, 'weight': weight, 'media': media})

In [43]:
data

,buy_date,seller,description,buy_price,sold,place,consigned_price,consigned_date,eesonia,eeprice,...,ombprice,bill,type,type2,period,metal,brand,stone,weight,media
Lot,,,,,,,,,,,,,,,,,,,,,
1,2008-06-09,CORNETTE DE SAINT CYR,Bracelet Van Cleef & Arpels articulé en or jau...,3469800,False,COFFRE,-1,NaT,,-1,...,-1,,Bracelet,,,Or Jaune 2,VCA,Diamant-Emeraude,32.0,1.jpg
2,2008-12-16,PIASA,Paire de clips de revers Chaumet en or (18k) e...,247800,False,COFFRE,-1,NaT,,-1,...,-1,,Broche,Clips Revers,Années 30,Or Spécial-Platine,Chaumet,Diamant,25.0,2.jpg
3,2009-04-01,RIEUNIER & ASSOCIES,Paire de dormeuses en or jaune et or gris (18k...,1674000,False,COFFRE,-1,NaT,,-1,...,-1,,BO,Dormeuses,,Or Spécial-Or Jaune 2,,Diamant,6.4,3.jpg
4,2009-04-06,MILLON,Bracelet souple Cartier en or jaune (18k) et a...,234000,False,COFFRE,-1,NaT,,-1,...,-1,,Bracelet,Tubogaz,,Or Jaune 2-Acier,Cartier,,51.0,4.jpg
5,2009-04-09,ROSSINI,Pendentif en or gris (18k) serti de 3 diamants...,315973,False,COFFRE,-1,NaT,,-1,...,-1,,Pendentif,,,Or Spécial,,Diamant,8.9,5.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2735,2021-12-02,AUDAP,Bague en or jaune (18k) bombée simulant deux a...,38600,False,,-1,NaT,,-1,...,-1,,Bague,,,Or Jaune 2,,,9.8,2735.jpg
2736,2021-12-02,AUDAP,Bague Fleur en or jaune (18k) et platine serti...,386400,False,,-1,NaT,,-1,...,-1,,Bague,Fleur,,Or Jaune 2-Platine,,Diamant-Saphir,7.4,2736.jpg
2737,2021-12-02,AUDAP,Bague en or jaune (18k) ornée en son centre d'...,425000,False,,-1,NaT,,-1,...,-1,,Bague,,,Or Jaune 2,,Diamant-Saphir,7.8,2737.jpg
2738,2021-12-02,AUDAP,Bague en or gris (18k) centrée d'un rubis oval...,167400,False,,-1,NaT,,-1,...,-1,,Bague,,,Or Spécial,,Diamant-Rubis,9.5,2738.jpg
2739,2021-12-02,AUDAP,Bague en or jaune (18k) centrée d'une émeraude...,322000,False,,-1,NaT,,-1,...,-1,,Bague,,,Or Jaune 2,,Diamant-Emeraude,5.7,2739.jpg

In [ ]:
raise RuntimeError("STOP EXEC")
data.to_csv("data.csv")

In [ ]:
import mysql.connector as sql
import time
import string

In [ ]:
conn = sql.connect(host='127.0.0.1',
                        database='jump',
                        user='root',
                        password='')

In [ ]:
cursor = conn.cursor()

In [44]:
def request(i):
    values = f"'{str(data.index[i])}', "
    for col in data.columns:
        val = data[col].iloc[i]
        st = str(val)
        if(st == "-1" or st == 'NaT' or st == "NaN" or st == ""):
            values += "NULL, "
            continue
        
        if(col == "description"):
            val = val.replace('"', "'")
            values += f'"{val}", '
            continue

        
        if(type(val) == str or str(type(val)) == "<class 'pandas._libs.tslibs.timestamps.Timestamp'>"):
            values += (f'"{val}", ')
        else:
            values += (f"{val}, ")
    values = values[:-2]

    request = f"INSERT INTO inventory2 VALUES({values})" 
    #print(request)
    cursor.execute(request)
    print(f"Requête numéro {i+1}/{l} préparée")
    
try:
    conn.commit()
except Exception as e:
    print(e)
    print(request)
    error.append((i, e, request))

l = len(data)
#error = []

#for i in range(len(data)):
#    request(i)

name 'conn' is not defined
<function request at 0x000001D4E907C550>

NameError: name 'error' is not defined

In [ ]:
error = []

In [ ]:
for i in range(len(df)):
    try:
        request(i)
    except Exception as e:
        error.append((i, e))

In [ ]:
print(len(error))

In [ ]:
error

In [ ]:
for elt in error:
    request(elt[0])